@model MyBlog.Models.playground
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<style type="text/css">
#editForm{
 /*background-color:Gray;*/
}
</style>
<script type="text/javascript">

    function ReloadPartial() {
        $.ajax({
            url: '@Url.Action("ReloadEditPartial", "PlayGround")',
            data: {},
            type: 'POST',
            success: function (data) {
                $('#playGroundMsg').html(data);
                $("#popupwindow").dialog("close");
                $('#playground_popupwindow').dialog("close");
                return true;
            }
        });
    }

    function getRowCount() {
        var toReturn = null;
        $.ajax({
            url: "PlayGround/GetRowCount",
            async: false,
            cache: false,
            type: 'Get',
            dataType: 'html',
            data: {}
        }).success(function (data) {
            toReturn = data;
        }).error(function (xhr, status) {
            LoadMsg(xhr.responseText);
            return false;
        });
        return toReturn;
    }

    function SaveNew() {
        //        var modelDataJSON = '@Html.Raw(Json.Encode(Model))';
        var Text = $("#text").val();
        if (Text == "") {
            LoadMsg('Please enter value.');
            return false;
        }

        $("#popupwindow").dialog({
            autoOpen: false,
            modal: true,
            show: "fade",
            height: "200",
            width: "300px",
            title: "Save New?",
            buttons: {
                "Save New": function () {
                    $.ajax({
                        url: "PlayGround/New",
                        async: false,
                        cache: false,
                        type: 'Get',
                        dataType: 'html',
                        data: { text: Text }
                    }).success(function (data) {
                        if (data == "Success") {
                            ReloadPartial();
                            return true;
                        }
                        else {
                            LoadMsg("Could not save, error.");
                            return false;
                        }
                    }).error(function (xhr, status) {
                        LoadMsg(xhr.responseText);
                        return false;
                    });
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#popupwindow").html("Do you want to Save New?");
        $("#popupwindow").dialog("open");
    }

    function Update() {
        var Text = $("#text").val();
        if (Text == "") {
            LoadMsg('Please enter value.');
            return false;
        }
        var id = '@ViewBag.id';

        $("#popupwindow").dialog({
            autoOpen: false,
            modal: true,
            show: "fade",
            height: "200",
            width: "300px",
            title: "Update?",
            buttons: {
                "Update": function () {
                    $.ajax({
                        url: "PlayGround/Update",
                        async: false,
                        cache: false,
                        type: 'Get',
                        dataType: 'html',
                        data: { id: id, text: Text }
                    }).success(function (data) {
                        if (data == "Success") {
                            ReloadPartial();
                            return true;
                        }
                        else {
                            LoadMsg("Could not save, error.");
                        }
                    }).error(function (xhr, status) {
                        LoadMsg(xhr.responseText);
                        return false;
                    });
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#popupwindow").html("Do you want to Update?");
        $("#popupwindow").dialog("open");
    }

    function Delete() {
        var id = '@ViewBag.id';
        var isLastRow = false;
        if (getRowCount() == "1") {
            isLastRow = true;
            //LoadMsg('One row must exist');
        }

        $("#popupwindow").dialog({
            autoOpen: false,
            modal: true,
            show: "fade",
            height: "200",
            width: "300px",
            title: "Delete?",
            buttons: {
                "Delete": function () {
                    $.ajax({
                        url: "PlayGround/Delete",
                        async: false,
                        cache: false,
                        type: 'Get',
                        dataType: 'html',
                        data: { id: id, isLastRowDeleted: isLastRow }
                    }).success(function (data) {
                        if (data == "Success") {
                            ReloadPartial();
                            return true;
                        }
                        else {
                            LoadMsg("Could not save, error.");
                            return false;
                        }
                    }).error(function (xhr, status) {
                        LoadMsg(xhr.responseText);
                    });
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#popupwindow").html("Do you want to Delete?");
        $("#popupwindow").dialog("open");
    }
</script>

    @using (Html.BeginForm())
    {
        <div id="editForm">
        @Html.ValidationSummary(true)
        <table>
        <tr>
        <td>
            @Html.TextBoxFor(model => model.text)
        </td>
        </tr>
        </table>
        <input type="button" value="Update" onclick="Update()"/>
        <input type="button" value="Save New" onclick="SaveNew()"/>
        <input type="button" value="Delete" onclick="Delete()"/>
        </div>
    }
